.heroBlock {
    background-position: 50% 100%;
    background-size: cover;
    height: 100vh;
}

.fix-center{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.heroBlock .fix-box{
    width: 90%;
    height: 90%;
    
}

.block-right{
    display: inline-block;
    float: right;
}

.div-test{
    width: 85%;
    min-height: 300px;
    /* overflow-x: scroll; */
    margin: 10px auto;
    
}